<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bobo.dao.DynamicmentPictureMapper" >
  <resultMap id="BaseResultMap" type="com.bobo.pojo.DynamicmentPicture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dynamicment_id" property="dynamicmentId" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dynamicment_id, picture, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bobo_dynamicment_picture
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bobo_dynamicment_picture
    where id = #{id,jdbcType=INTEGER}
  </delete>



  <insert id="insert" parameterType="com.bobo.pojo.DynamicmentPicture" >
    insert into bobo_dynamicment_picture (id, dynamicment_id, picture, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{dynamicmentId,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR}, 
      now(), now())
  </insert>



  <insert id="insertSelective" parameterType="com.bobo.pojo.DynamicmentPicture" >
    insert into bobo_dynamicment_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dynamicmentId != null" >
        dynamicment_id,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dynamicmentId != null" >
        #{dynamicmentId,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bobo.pojo.DynamicmentPicture" >
    update bobo_dynamicment_picture
    <set >
      <if test="dynamicmentId != null" >
        dynamicment_id = #{dynamicmentId,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bobo.pojo.DynamicmentPicture" >
    update bobo_dynamicment_picture
    set dynamicment_id = #{dynamicmentId,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <delete id="deleteBydynamicmentId" parameterType="java.lang.Integer" >
    delete from bobo_dynamicment_picture
    where dynamicment_id = #{dynamicmentId,jdbcType=INTEGER}
  </delete>
</mapper>