<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bobo.dao.UserInformationMapper" >
  <resultMap id="BaseResultMap" type="com.bobo.pojo.UserInformation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bobo_number" property="boboNumber" jdbcType="VARCHAR" />
    <result column="bobo_profile_phone" property="boboProfilePhone" jdbcType="VARCHAR" />
    <result column="bobo_name" property="boboName" jdbcType="VARCHAR" />
    <result column="bobo_introdution" property="boboIntrodution" jdbcType="VARCHAR" />
    <result column="bobo_user_school" property="boboUserSchool" jdbcType="VARCHAR" />
    <result column="bobo_gender" property="boboGender" jdbcType="INTEGER" />
    <result column="boob_birthday" property="boobBirthday" jdbcType="TIMESTAMP" />
    <result column="bobo_user_country" property="boboUserCountry" jdbcType="VARCHAR" />
    <result column="bobo_user_province" property="boboUserProvince" jdbcType="VARCHAR" />
    <result column="bobo_user_city" property="boboUserCity" jdbcType="VARCHAR" />
    <result column="bobo_user_addreee" property="boboUserAddreee" jdbcType="VARCHAR" />
    <result column="bobo_user_address" property="boboUserAddress" jdbcType="VARCHAR" />
    <result column="bobo_praise_number" property="boboPraiseNumber" jdbcType="INTEGER" />
    <result column="bobo_fans_numbers" property="boboFansNumbers" jdbcType="INTEGER" />
    <result column="bobo_frients_numbers" property="boboFrientsNumbers" jdbcType="INTEGER" />
    <result column="bobo_focuson_numbers" property="boboFocusonNumbers" jdbcType="INTEGER" />
    <result column="bobo_community" property="boboCommunity" jdbcType="VARCHAR" />
    <result column="bobo_community_position" property="boboCommunityPosition" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>



  <sql id="Base_Column_List" >
    id, bobo_number, bobo_profile_phone, bobo_name, bobo_introdution, bobo_user_school, 
    bobo_gender, boob_birthday, bobo_user_country, bobo_user_province, bobo_user_city, 
    bobo_user_addreee, bobo_user_address, bobo_praise_number, bobo_fans_numbers, bobo_frients_numbers, 
    bobo_focuson_numbers, bobo_community, bobo_community_position, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bobo_user_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bobo_user_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bobo.pojo.UserInformation" >
    insert into bobo_user_information (id, bobo_number, bobo_profile_phone, 
      bobo_name, bobo_introdution, bobo_user_school, 
      bobo_gender, boob_birthday, bobo_user_country, 
      bobo_user_province, bobo_user_city, bobo_user_addreee, 
      bobo_user_address, bobo_praise_number, bobo_fans_numbers, 
      bobo_frients_numbers, bobo_focuson_numbers, 
      bobo_community, bobo_community_position, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{boboNumber,jdbcType=VARCHAR}, #{boboProfilePhone,jdbcType=VARCHAR}, 
      #{boboName,jdbcType=VARCHAR}, #{boboIntrodution,jdbcType=VARCHAR}, #{boboUserSchool,jdbcType=VARCHAR}, 
      #{boboGender,jdbcType=INTEGER}, #{boobBirthday,jdbcType=TIMESTAMP}, #{boboUserCountry,jdbcType=VARCHAR}, 
      #{boboUserProvince,jdbcType=VARCHAR}, #{boboUserCity,jdbcType=VARCHAR}, #{boboUserAddreee,jdbcType=VARCHAR}, 
      #{boboUserAddress,jdbcType=VARCHAR}, #{boboPraiseNumber,jdbcType=INTEGER}, #{boboFansNumbers,jdbcType=INTEGER}, 
      #{boboFrientsNumbers,jdbcType=INTEGER}, #{boboFocusonNumbers,jdbcType=INTEGER}, 
      #{boboCommunity,jdbcType=VARCHAR}, #{boboCommunityPosition,jdbcType=INTEGER}, now(),
      now())
  </insert>





  <insert id="insertSelective" parameterType="com.bobo.pojo.UserInformation" >
    insert into bobo_user_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="boboNumber != null" >
        bobo_number,
      </if>
      <if test="boboProfilePhone != null" >
        bobo_profile_phone,
      </if>
      <if test="boboName != null" >
        bobo_name,
      </if>
      <if test="boboIntrodution != null" >
        bobo_introdution,
      </if>
      <if test="boboUserSchool != null" >
        bobo_user_school,
      </if>
      <if test="boboGender != null" >
        bobo_gender,
      </if>
      <if test="boobBirthday != null" >
        boob_birthday,
      </if>
      <if test="boboUserCountry != null" >
        bobo_user_country,
      </if>
      <if test="boboUserProvince != null" >
        bobo_user_province,
      </if>
      <if test="boboUserCity != null" >
        bobo_user_city,
      </if>
      <if test="boboUserAddreee != null" >
        bobo_user_addreee,
      </if>
      <if test="boboUserAddress != null" >
        bobo_user_address,
      </if>
      <if test="boboPraiseNumber != null" >
        bobo_praise_number,
      </if>
      <if test="boboFansNumbers != null" >
        bobo_fans_numbers,
      </if>
      <if test="boboFrientsNumbers != null" >
        bobo_frients_numbers,
      </if>
      <if test="boboFocusonNumbers != null" >
        bobo_focuson_numbers,
      </if>
      <if test="boboCommunity != null" >
        bobo_community,
      </if>
      <if test="boboCommunityPosition != null" >
        bobo_community_position,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="boboNumber != null" >
        #{boboNumber,jdbcType=VARCHAR},
      </if>
      <if test="boboProfilePhone != null" >
        #{boboProfilePhone,jdbcType=VARCHAR},
      </if>
      <if test="boboName != null" >
        #{boboName,jdbcType=VARCHAR},
      </if>
      <if test="boboIntrodution != null" >
        #{boboIntrodution,jdbcType=VARCHAR},
      </if>
      <if test="boboUserSchool != null" >
        #{boboUserSchool,jdbcType=VARCHAR},
      </if>
      <if test="boboGender != null" >
        #{boboGender,jdbcType=INTEGER},
      </if>
      <if test="boobBirthday != null" >
        #{boobBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="boboUserCountry != null" >
        #{boboUserCountry,jdbcType=VARCHAR},
      </if>
      <if test="boboUserProvince != null" >
        #{boboUserProvince,jdbcType=VARCHAR},
      </if>
      <if test="boboUserCity != null" >
        #{boboUserCity,jdbcType=VARCHAR},
      </if>
      <if test="boboUserAddreee != null" >
        #{boboUserAddreee,jdbcType=VARCHAR},
      </if>
      <if test="boboUserAddress != null" >
        #{boboUserAddress,jdbcType=VARCHAR},
      </if>
      <if test="boboPraiseNumber != null" >
        #{boboPraiseNumber,jdbcType=INTEGER},
      </if>
      <if test="boboFansNumbers != null" >
        #{boboFansNumbers,jdbcType=INTEGER},
      </if>
      <if test="boboFrientsNumbers != null" >
        #{boboFrientsNumbers,jdbcType=INTEGER},
      </if>
      <if test="boboFocusonNumbers != null" >
        #{boboFocusonNumbers,jdbcType=INTEGER},
      </if>
      <if test="boboCommunity != null" >
        #{boboCommunity,jdbcType=VARCHAR},
      </if>
      <if test="boboCommunityPosition != null" >
        #{boboCommunityPosition,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>






  <update id="updateByPrimaryKeySelective" parameterType="com.bobo.pojo.UserInformation" >
    update bobo_user_information
    <set >
      <if test="boboNumber != null" >
        bobo_number = #{boboNumber,jdbcType=VARCHAR},
      </if>
      <if test="boboProfilePhone != null" >
        bobo_profile_phone = #{boboProfilePhone,jdbcType=VARCHAR},
      </if>
      <if test="boboName != null" >
        bobo_name = #{boboName,jdbcType=VARCHAR},
      </if>
      <if test="boboIntrodution != null" >
        bobo_introdution = #{boboIntrodution,jdbcType=VARCHAR},
      </if>
      <if test="boboUserSchool != null" >
        bobo_user_school = #{boboUserSchool,jdbcType=VARCHAR},
      </if>
      <if test="boboGender != null" >
        bobo_gender = #{boboGender,jdbcType=INTEGER},
      </if>
      <if test="boobBirthday != null" >
        boob_birthday = #{boobBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="boboUserCountry != null" >
        bobo_user_country = #{boboUserCountry,jdbcType=VARCHAR},
      </if>
      <if test="boboUserProvince != null" >
        bobo_user_province = #{boboUserProvince,jdbcType=VARCHAR},
      </if>
      <if test="boboUserCity != null" >
        bobo_user_city = #{boboUserCity,jdbcType=VARCHAR},
      </if>
      <if test="boboUserAddreee != null" >
        bobo_user_addreee = #{boboUserAddreee,jdbcType=VARCHAR},
      </if>
      <if test="boboUserAddress != null" >
        bobo_user_address = #{boboUserAddress,jdbcType=VARCHAR},
      </if>
      <if test="boboPraiseNumber != null" >
        bobo_praise_number = #{boboPraiseNumber,jdbcType=INTEGER},
      </if>
      <if test="boboFansNumbers != null" >
        bobo_fans_numbers = #{boboFansNumbers,jdbcType=INTEGER},
      </if>
      <if test="boboFrientsNumbers != null" >
        bobo_frients_numbers = #{boboFrientsNumbers,jdbcType=INTEGER},
      </if>
      <if test="boboFocusonNumbers != null" >
        bobo_focuson_numbers = #{boboFocusonNumbers,jdbcType=INTEGER},
      </if>
      <if test="boboCommunity != null" >
        bobo_community = #{boboCommunity,jdbcType=VARCHAR},
      </if>
      <if test="boboCommunityPosition != null" >
        bobo_community_position = #{boboCommunityPosition,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>








  <update id="updateByPrimaryKey" parameterType="com.bobo.pojo.UserInformation" >
    update bobo_user_information
    set bobo_number = #{boboNumber,jdbcType=VARCHAR},
      bobo_profile_phone = #{boboProfilePhone,jdbcType=VARCHAR},
      bobo_name = #{boboName,jdbcType=VARCHAR},
      bobo_introdution = #{boboIntrodution,jdbcType=VARCHAR},
      bobo_user_school = #{boboUserSchool,jdbcType=VARCHAR},
      bobo_gender = #{boboGender,jdbcType=INTEGER},
      boob_birthday = #{boobBirthday,jdbcType=TIMESTAMP},
      bobo_user_country = #{boboUserCountry,jdbcType=VARCHAR},
      bobo_user_province = #{boboUserProvince,jdbcType=VARCHAR},
      bobo_user_city = #{boboUserCity,jdbcType=VARCHAR},
      bobo_user_addreee = #{boboUserAddreee,jdbcType=VARCHAR},
      bobo_user_address = #{boboUserAddress,jdbcType=VARCHAR},
      bobo_praise_number = #{boboPraiseNumber,jdbcType=INTEGER},
      bobo_fans_numbers = #{boboFansNumbers,jdbcType=INTEGER},
      bobo_frients_numbers = #{boboFrientsNumbers,jdbcType=INTEGER},
      bobo_focuson_numbers = #{boboFocusonNumbers,jdbcType=INTEGER},
      bobo_community = #{boboCommunity,jdbcType=VARCHAR},
      bobo_community_position = #{boboCommunityPosition,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateInformationByBobo_number" parameterType="com.bobo.pojo.UserInformation" >
    update bobo_user_information
    <set >
      <if test="boboNumber != null" >
        bobo_number = #{boboNumber,jdbcType=VARCHAR},
      </if>
      <if test="boboProfilePhone != null" >
        bobo_profile_phone = #{boboProfilePhone,jdbcType=VARCHAR},
      </if>
      <if test="boboName != null" >
        bobo_name = #{boboName,jdbcType=VARCHAR},
      </if>
      <if test="boboIntrodution != null" >
        bobo_introdution = #{boboIntrodution,jdbcType=VARCHAR},
      </if>
      <if test="boboUserSchool != null" >
        bobo_user_school = #{boboUserSchool,jdbcType=VARCHAR},
      </if>
      <if test="boboGender != null" >
        bobo_gender = #{boboGender,jdbcType=INTEGER},
      </if>
      <if test="boobBirthday != null" >
        boob_birthday = #{boobBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="boboUserCountry != null" >
        bobo_user_country = #{boboUserCountry,jdbcType=VARCHAR},
      </if>
      <if test="boboUserProvince != null" >
        bobo_user_province = #{boboUserProvince,jdbcType=VARCHAR},
      </if>
      <if test="boboUserCity != null" >
        bobo_user_city = #{boboUserCity,jdbcType=VARCHAR},
      </if>
      <if test="boboUserAddreee != null" >
        bobo_user_addreee = #{boboUserAddreee,jdbcType=VARCHAR},
      </if>
      <if test="boboUserAddress != null" >
        bobo_user_address = #{boboUserAddress,jdbcType=VARCHAR},
      </if>
      <if test="boboPraiseNumber != null" >
        bobo_praise_number = #{boboPraiseNumber,jdbcType=INTEGER},
      </if>
      <if test="boboFansNumbers != null" >
        bobo_fans_numbers = #{boboFansNumbers,jdbcType=INTEGER},
      </if>
      <if test="boboFrientsNumbers != null" >
        bobo_frients_numbers = #{boboFrientsNumbers,jdbcType=INTEGER},
      </if>
      <if test="boboFocusonNumbers != null" >
        bobo_focuson_numbers = #{boboFocusonNumbers,jdbcType=INTEGER},
      </if>
      <if test="boboCommunity != null" >
        bobo_community = #{boboCommunity,jdbcType=VARCHAR},
      </if>
      <if test="boboCommunityPosition != null" >
        bobo_community_position = #{boboCommunityPosition,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = now(),
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where bobo_number = #{boboNumber,jdbcType=INTEGER}
  </update>
</mapper>